*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: greenyellow;
    color: white;
    margin-left: 3em;

}

body > h1{
    text-align: center;
    color: orange;
    margin-top: 40px;
}
