{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="shortcut icon" href="{% static 'mylogo.jpg' %}" type="image/x-icon" />
    <title>MyShop</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="nav__logo">
          <img src="{% static 'mylogo.jpg' %}" alt="">
        </div>
        <div class="nav__links">
          <ul>
              <li><a href="{% url "home" %}">Home</a></li>
              <li><a href="{% url "about" %}">About</a></li>
              <li><a href="{% url "contact" %}">Contact</a></li>
              {% if request.user.is_authenticated %}
              <li><a href=" {% url "products" %} ">Mehsullar</a></li>
              <li><a href=" {% url "dashboard" %} "><i class="fa-solid fa-user"></i></a></li>
              <li><a href="{% url "account:logout" %}"><i class="fa-solid fa-right-from-bracket"></i></a></li>   
              {% else %}  
              <li><a href="{% url "account:login" %}">Login</a></li>
              <li><a href="{% url "account:register" %}">Register</a></li>       
              {% endif %}
              </ul>
        </div>
      </div>
  
      
          {% comment %} {% if messages %}
              {% for message in messages %}
                {% if message.tags == "error" %}
                  <div class="alert_error">{{message}}</div>
                {% else %}
                  <div class="alert_success">{{message}}</div>
                {% endif %}
            {% endfor %}
          {% endif %} {% endcomment %}
    
          {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
  
     
        {% block body %}
  
        {% endblock body %}

    </div>
  </body>
</html>
